<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/advertising_agency</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.ProgressDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.chekh.entity.AdEntity"/>
        <mapping class="com.chekh.entity.AdvertiserEntity"/>
        <mapping class="com.chekh.entity.CheckEntity"/>
        <mapping class="com.chekh.entity.ContractEntity"/>
        <mapping class="com.chekh.entity.PassportEntity"/>
        <mapping class="com.chekh.entity.SellerEntity"/>
        <mapping class="com.chekh.entity.UserRoleEntity"/>
        <mapping class="com.chekh.entity.UserEntity"/>
    </session-factory>
</hibernate-configuration>